body{
    margin: 0;
    padding: 0;
}
.topbar{
    background-color: rgb(234, 234, 241);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 100px;
}
header h1{
    margin-left: 130px;
}
header span{
    color: red;
}
nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    margin-right: 60px;
}
nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li a{
    text-decoration:none;
    color: black;
}
.topbar2{
    display: flex;
   
    padding: 0;
}
.presentation{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    padding: 90px ;
    

}
.presentation span{
    color: red;
}
.presentation p{
    max-width: 40%;
}
.presentation img{
    margin-right: 50px;
}
.media{
    display: flex;
    
    gap: 5px;
    
}
.media img{
    width: 25px;
    border-radius: 20px;
    
}
.image4{
    display: flex;
}
.image4 img{
    width: 300px;
    border-radius: 20px;
    margin-right: 200px;
}