*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    /* border: 1px solid black; */
    box-sizing: border-box;
}
i {
    font-size: 25px;
}
i:hover{
    color: red;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    gap: 100px;
    background-color: rgb(234, 234, 241);
}

header span{
    width: 35%;
    color: red;
}

nav{
  width: 50%;  
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li a{
    text-decoration:none;
    color: black;
    transition: 0.5s;
    font-size: 1.1rem;
}
nav ul li a:hover{
    color: red;
}

.topbar{
    display: flex;
    width: 100%;
    height: 85vh;
    padding: 0 10%;
    align-items: center;
    background-color: #eaeaf1;
}
.topbarleft{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.topbarright{
    width: 50%;
    height: 100%;
    background-image: url(./image/bea776a1-65f3-4db2-af68-487e0e85f1bd-removebg-preview.png);
    background-size: cover;
    background-position: center;
    /* border: 2px solid black; */
}

.topbarleft span{
    color: red;
    }
.topbarleft h3{
        font-size: 50px;
    }
.topbarleft p{
    font-size: 15px;
}

.media{
    display: flex;
    gap: 5px;
    
}
.media img{
    width: 25px;
    border-radius: 90px;
    
}
.about{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 5% 10% ;
}
.aboutus{
    width: 45%;
    height: 100%;
    background-image: url(./image/bea776a1-65f3-4db2-af68-487e0e85f1bd-removebg-preview.png);
    background-size: cover;
    background-position: center;
    border: 2px solid black;

}
.aboutus1{
    width: 45%;
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.aboutus1 span{
    color: red;
}
.aboutus1 h2{
    font-size: 40px;
}
.aboutus1 p{
    font-size: 15px;
}
.btn{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: red;
    color: white;
    cursor: pointer;
    border: none;
}
.btn:hover{
    background-color: rgb(74, 84, 105);
}
.services{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 5% 10%;
    background-color: #eaeaf1;
    text-align: center;
}
.Services-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaf1;
}
.services-box{
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    align-items: center;
    border-radius: 15px;
    padding: 3%;
}
.services h2{
    font-size: 50px;
}
.services-box p{
    font-size: 13px;
}
.services-box i{
    font-size: 35px;
    color: red;
}
.contact{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 10%;
    
}
.contact h2{
    text-align: center;
    font-size: 40px;
}
.contact-container{
     display: flex;
     justify-content: space-between;
     align-items: center;
     
}
.contact-left{
    width: 50%;
    height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: self-start;
     gap: 13px;
}
.contact-right{
     width: 50%;
     height: auto;
     display: flex;
     flex-direction: column;
     /* background-color: #eaeaf1;
     padding: 5%; */

}
.form-group{
     margin-bottom: 5px;
}
label{
    display: block;
}
input,textarea{
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 13px;
 }